# Topic
- For loops
- while loops 
- nested loop   
- break and continue
- dictonary 
- list comprihension

In [57]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

# For loop

In [59]:
for i in range(10):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world

In [60]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [61]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [62]:
for char in "pakistan":
    print(char)

p
a
k
i
s
t
a
n

In [63]:
#for loop in order to itrate through a list 
for item in ["Keyboard","mouse","pen","paper"]:
    print(item)

Keyboard
mouse
pen
paper

In [64]:
#number is not iteratable
for num in 500:
    print(num)

TypeError: 'int' object is not iterable

In [65]:
# using conditinal statement in for loop    
for char in "friends":
    if char=="n":
        print("Yeah N ha")
    else:
        print(char)

f
r
i
e
Yeah N ha
d
s

# Break
- breaks the noramal flow of loop

In [6]:
for i in range(10):
    print(i,"hello world")
    if i==5:
        break

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
5 hello world

# continue
- skips the loop iteration

In [17]:
for i in range(10):
   if i%2==0:
      continue
   print(i)

1
3
5
7
9

In [26]:
total=0
for i in range(10):
    num=int(input("enter a num"))
    total +=num
   
print(total)

62

In [35]:
nums=input("enter 10 numbers that are comma sep").split(",")
totl=0
for num in nums:
    totl +=int(num)
print(totl)

45

# while Loop

In [47]:
istrue=True
totall=0
while istrue:
    num=input("enter number")
    if num=="q":
        break
    else:
        totall+=int(num)
print(totall)

3

# dictionary

In [55]:
studentInfo={"Name":"ali","designation":"student","program":"SE","rollno":13}

In [56]:
studentInfo

{'Name': 'ali', 'designation': 'student', 'program': 'SE', 'rollno': 13}

# List comprihension

In [68]:
[num for num in range(20) if num%2!=0 if num>10]

[11, 13, 15, 17, 19]

In [70]:
[num for num in range(20) if num%2==0 if num>10]

[12, 14, 16, 18]

# Nested loops

In [72]:

for i in range (2,3):
    for j in range(1,11):
        multiple=i*j
        print(f"{i}*{j}={multiple}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20