# Topics:
- List
- list indexing 
- list slicing 
- tuple 
- sets
- dictionary

- anything that is iterateable is inedexed in python

In [1]:
#right to left  
#           -4    -3     -2         -1
friends= ["ali","asad","hassan","ahsan"]
#left to right 
#           0      1        2       3

In [7]:
len(friends)
#n=4
#total index =n-1=3

4

In [8]:
friends[1]

'asad'

# adding values in list
- adding a value at the end of the list -> .append()
- adding a value at any index in a list -> .insert()

In [9]:
new_list=["ali","umer","ahsan","hassan"]

In [10]:
new_list.append("umer")

In [11]:
new_list

['ali', 'umer', 'ahsan', 'hassan', 'umer']

In [27]:
new_list.index("ali")

0

In [12]:
#append can only take one argument
new_list.append("umer","asad")

TypeError: list.append() takes exactly one argument (2 given)

In [14]:
new_list.insert(2,"abdullah")

In [15]:
new_list

['ali', 'umer', 'abdullah', 'ahsan', 'hassan', 'umer']

In [19]:
misc_list=[12,"hassan",[12,22]]

In [21]:
nested_list=[[1,2],[3,4],[5,6]]

In [26]:
nested_list[2][1]

6

# removing a value from list
- delete- permeneantly removes a value based upon index -> del 
- remove- permanently removes a value based upon value itself -> remove 
- pop- removes a value from list than can be used -> pop()

In [28]:
del new_list[0]

In [34]:
new_list.remove("umer")

In [38]:
new_list.remove("Abdullah")

ValueError: list.remove(x): x not in list

In [46]:
val=new_list.pop(2)

In [49]:
new_list

['abdullah', 'ahsan', 'umer', 'hassan', 'umer']

# copying a list
- alist=blist
- .copy()
- [:]

In [51]:
a=2
b=1
b=a
print(a,b)

2 2

In [55]:
alist=[44,22,66,11,88,77,55]
blist=alist

In [68]:
alist

[44, 22, 66, 11, 88, 77, 55]

In [59]:
alist.remove(22)

In [64]:
clist=alist.copy()

In [70]:
clist

[44, 22, 66, 11, 88, 77, 55, 99]

In [73]:
dlist=clist[:]

In [78]:
clist.append(99)

In [82]:
dlist

[44, 22, 66, 11, 88, 77, 55, 99]

# slicing a list    
- cuting up of a list from any spicific index and show its copy
- [start:end+1]

In [79]:
alist[2:5]

[66, 11, 88]

In [84]:
dlist[0:8:2]

[44, 66, 88, 55]

In [93]:
alist

[88, 77, 66, 55, 44, 22, 11]

In [94]:
alist.extend([33,99])

In [100]:
misc_list.extend("5555")

In [103]:
misc_list

[13,
 'hassan',
 [12, 22],
 'c',
 'o',
 'm',
 'p',
 'u',
 't',
 'e',
 'r',
 '5',
 '5',
 '5',
 '5']

# DYS tuples and set
# ()-> tuple 
# {}-> sets

In [113]:
tup=(12,14,16,7,99,10)

In [114]:
type(tup)

tuple

In [117]:
aset={1,4,123}

In [118]:
type(aset)

set