# Topics:
- pandas
- Series
- loc
- iloc
- Dataframe

In [3]:
import pandas as pd

In [124]:
age=pd.Series([12,14,15,16,77])

In [126]:
age

0    12
1    14
2    15
3    16
4    77
dtype: int64

In [127]:
age[4]

77

In [134]:
marks = pd.Series([80,70,60],index=['ali','sara','ahmed'],dtype="int")

In [135]:
marks

ali      80
sara     70
ahmed    60
dtype: int32

In [138]:
marks["ahmed"]=65

In [139]:
marks

ali      80
sara     70
ahmed    65
dtype: int32

In [140]:
age = pd.Series({'ali':80,'sara':70,'ahmed':None})

In [147]:
age.min()

70.0

In [148]:
stds = pd.DataFrame({
    'names':['Sarah','Ahmed','Ali'],
    'age':[50,60,70],
    'cgpa':[3.4,2.9,3.6],
    'address':['Karachi','Lahore','Islamabad']    
})

In [149]:
stds

   names  age  cgpa    address
0  Sarah   50   3.4    Karachi
1  Ahmed   60   2.9     Lahore
2    Ali   70   3.6  Islamabad

In [155]:
stds["semester"]=np.arange(3)

In [157]:
stds[["names","cgpa"]]

   names  cgpa
0  Sarah   3.4
1  Ahmed   2.9
2    Ali   3.6

In [158]:
data = {'Name': ['Ali', 'Sara', 'Zara'],
        'Age': [25, 30, 22],
        'City': ['Lahore', 'Karachi', 'Islamabad']}

In [161]:
df=pd.DataFrame(data,index=["s1","s2","s3"])

In [162]:
df

    Name  Age       City
s1   Ali   25     Lahore
s2  Sara   30    Karachi
s3  Zara   22  Islamabad

In [167]:
df.loc["s1",["Name","Age"]]

Name    Ali
Age      25
Name: s1, dtype: object

In [170]:
df.iloc[0,[0,2]]

Name       Ali
City    Lahore
Name: s1, dtype: object

In [4]:
df=pd.read_csv("sonar.all-data.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'sonar.all-data.csv'

In [1]:
df

NameError: name 'df' is not defined

In [175]:
df.describe()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
count,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,...,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000
mean,0.029208,0.038443,0.043837,0.054053,0.075105,0.104599,0.121591,0.134677,0.177361,0.208245,...,0.016034,0.013472,0.010729,0.010917,0.009300,0.008181,0.007771,0.007947,0.007936,0.006523
std,0.023038,0.033040,0.038521,0.046583,0.055669,0.059247,0.061897,0.085340,0.118311,0.134741,...,0.012027,0.009628,0.007071,0.007310,0.007103,0.005719,0.005756,0.006485,0.006196,0.005038
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013300,0.016400,0.018900,0.024450,0.037700,0.066950,0.080600,0.080350,0.096750,0.111150,...,0.008350,0.007350,0.005050,0.005350,0.004100,0.004400,0.003700,0.003600,0.003650,0.003100
50%,0.022800,0.030800,0.034200,0.044100,0.062000,0.092100,0.105600,0.111900,0.152200,0.181000,...,0.013800,0.011500,0.009600,0.009300,0.007500,0.006800,0.005900,0.005800,0.006300,0.005300
75%,0.035800,0.048100,0.058200,0.065700,0.101050,0.134150,0.153050,0.169800,0.231500,0.269000,...,0.020700,0.016750,0.014900,0.014450,0.012100,0.010350,0.010350,0.010400,0.010350,0.008550
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [177]:
df.head(2)

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R

In [179]:
df.tail(2)

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
205,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
206,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M